<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Alterar Funcionário</title>
<link rel="stylesheet" href="/style-alterar.css"/>
<script>
	document.addEventListener('DOMContentLoaded', function() {
		var dateField = document.getElementById('dataAdmissao');
		var currentDate = dateField.value;
		if( currentDate ) {
			var dateParts = currentDate.split('-');
			var formattedDate = dateParts[2]+
			                    '/'+dateParts[1]+'/'+ dateParts[0];
		}
		dateField.value = formattedDate;
	});
</script>
</head>
<body>
<div class="divForm">
<form action="#" th:action="@{/funcionarios/update}" th:object="${funcionario}" method="post">
<label for="re">RE:</label>
<input type="text" th:field="*{re}" id="re"/>
<label for="nome">Nome:</label>
<input type="text" th:field="*{nome}" id="nome"/>
<label for="dataAdmissao">Data de Admissão:</label>
<input type="text" th:field="*{dataAdmissao}"id='dataAdmissao'/>
<label for="salario">Salário:</label>
<input type="text" th:field="*{salario}" id="salario"/>
<input type="submit" value="enviar"/>
</form>
</div>
<a href="/funcionarios">voltar</a>
</body>
</html>