<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cadastro de Alunos</title>
<link href="https://fonts.googleapis.com/css?family=Sofia" rel="stylesheet"/>
<link href='https://fonts.googleapis.com/css?family=Aboreto' rel='stylesheet'/>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
<link rel="stylesheet" href="/style-aluno.css"/>
</head>
<body>
<div class="divFunc">

</div>
<h2>Faça seu cadastro de aluno!</h2>
<i class="material-icons">school</i>
<h3>Aluno(a)</h3>
<div class="wrapper">
<form class="form" action="#" th:action="@{/alunos}" th:object="${aluno}" method="post">
RA:<input class="input" type="text" th:field="*{ra}"/><br/>
Nome:<input class="input" type="text" th:field="*{nome}"/><br/>
Data de nascimento<input class="input" type="date" th:field="*{dataNascimento}"/><br/>
Renda:<input class="input" type="text" th:field="*{renda}"/><br/>
<div class="divbtn" >
<input class="inputbtn" type="submit" value="Enviar"/>
</div>
</form>
</div>
</body>
</html>