<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Alunos</title>
<link href="https://fonts.googleapis.com/css?family=Sofia" rel="stylesheet"/>
<link href='https://fonts.googleapis.com/css?family=Aboreto' rel='stylesheet'/>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
<link rel="stylesheet" href="/style-cadAlu.css"/>
</head>
<body>
<div class="divFunc">
</div>
<h2>Faça seu Login</h2>
<div class="divIcon">
<i class="material-icons">school</i>
<i class="material-icons">work</i>
</div>
<h3>Aluno/Funcionário(a)</h3>
<div class="wrapper">
<form class="form">
RA/RE:<input class="input" type="text"/><br/>
Senha:<input class="input" type="password" /><br/>
<div class="divbtn" >
<input class="inputbtn" type="submit" value="Entrar">
</div>
</form>
</div>
<div class="signuplink">
<p>Não Possui cadastro?</p>
<a href="/alunos/new">Aluno/</a>
<a href="/funcionarios/new">Funcionário</a>
</div>
</body>
</html>