<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Alunos</title>
<link href="https://fonts.googleapis.com/css?family=Sofia" rel="stylesheet"/>
<link href='https://fonts.googleapis.com/css?family=Aboreto' rel='stylesheet'/>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
<link rel="stylesheet" href="/style-cadAlu.css"/>
</head>
<body>
<div class="divFunc">
<h1>Almeida's HighSchool</h1>
</div>
<h2>Faça seu Login</h2>
<i class="material-icons">school</i>
<h3>Aluno(a)</h3>
<div class="wrapper">
<form class="form">
RA:<input class="input" type="text"/><br/>
Senha:<input class="input" type="password" /><br/>
</form>
</div>
<div class="signuplink">
<p>Não Possui cadastro?</p>
<a href="/alunos/new">Cadastrar!</a>
</div>
</body>
</html>